body {
    background-color: #f0f0f0;
}

.bigDiv {
    padding: 20px;
    background-color: white;
    margin: 2%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05), 0 0 0 1px rgba(63,63,68,.1);
}

#homeSubscribe {
    margin-left: 30px;
}

#tagline {
    padding: 30px;
}

a:hover {
    color: white;
}

@media (max-width: 1000px) {
    a:hover {
        color: black;
    }
}
